<!DOCTYPE html>
{% extends 'urlyapp/nav.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

  <h1 id='username'>{{ profile.username }}</h1>
  <h3>Bookmarks:</h3>

  <hr>
  <div class='container'>
    <div class='col-sm-3'>
    </div>
    <div class='col-sm-1'>
      <form method='get' action='{% url 'urlyapp:bookmark-create' %}'>
        {% csrf_token %}
        <button type='submit' class='new-bookmark'><span class='glyphicon glyphicon-plus'></span></button>
      </form>
    </div>
  </div>

  <div id='bookmarks' class='container'>
    {% for bookmark in bookmarks %}
    <hr>
    <div class='container'>
      <div>
        <div class='col-sm-3'>
          <a href='{% url 'urlyapp:hashid' hashid=bookmark.short %}'>{{ bookmark.title }}</a>
          <form method='get' action = '{% url 'urlyapp:bookmark' pk=bookmark.pk %}'>
          <button value='submit'><span class='glyphicon glyphicon-eye-open'></span></button>
        </div>
        <div class='col-sm-3'>
          <form method='get' action='{% url 'urlyapp:bookmark-edit' pk=bookmark.pk %}'>
            {% csrf_token %}
            <button class='edit-bookmark' id='{{ bookmark.title }}'>Edit Bookmark</button>
          </form>
        </div>

        <div class ='col-sm-2'>
          <form method='get' action='{% url 'urlyapp:tags-edit' pk=bookmark.pk %}'>
            {% csrf_token %}
            <button type='submit' class='tags-edit' id='{{bookmark.id}}'>Edit tags</button>
          </form>
        </div>

      </div>
    </div>

      {% for tag in bookmark.tag_set.all %}
      <div class='col-sm-2'>
        <a href='{% url 'urlyapp:tag' pk=tag.pk %}' class='tag' id='{{ tag.name }}'>{{ tag.name }}</a>
      </div>
      
    {% endfor %}

    {% endfor %}
    {% bootstrap_pagination bookmarks %}
  </div>


{% endblock %}
