<!DOCTYPE html>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load staticfiles %}

<html lang="en">
<head>
  <link rel='stylesheet' href = '{% static "style.css" %}'/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Urly-Bird</title>
</head>
{% block content %}

{% endblock %}

<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container'>

    <ul class='nav navbar-nav'>

      <li><a href='{% url 'urlyapp:home' %}' id='home'>Home</a></li>
      <li><a href='' id='profiles'>Profiles</a></li>
      <li><a href='' id='bookmarks'>Trending Bookmarks</a></li>
      <li><a href='' id='tags'>Tags</a></li>

      {% if user.is_authenticated %}
      <li><a href='{% url 'urlyapp:auth-profile' %}' id='profile'>Your Profile</a></li>
      <li><a href='{% url 'accounts:logout' %}' id='logout'>Logout</a></li>
      {% else %}
      <li><a href='{% url 'accounts:login' %}' id='login'>Log In</a></li>
      {% endif %}

    </ul>

  </div>
</div>

</body>
</html>
