<!DOCTYPE html>
{% extends 'urlyapp/nav.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

  <h1 id='username'>{{ profile.username }}</h1>

  <div id='bookmarks'>
    {% for bookmark in bookmarks %}
    <div class='col-md-3'>
      <div>
        <a href='{% url 'urlyapp:bookmark' pk=bookmark.pk %}'>{{ bookmark.title }}</a>
      </div>
      {% for tag in bookmark.tag_set.all %}
      <div class='col-sm-3'>
        <a href='{% url 'urlyapp:tag' pk=tag.pk %}' class='tag' id='{{tag.name}}'>{{ tag.name }}</a>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

{% endblock %}
